#WorkSpaceGeneralStyles{ 
  display: flex; 
  height: 100vh; 
  overflow: hidden; 
}

/*media query, para estilos específicos cuando el ancho de la pantalla es de 768px o menor.*/
@media screen and (max-width: 768px) {
  #WorkSpaceGeneralStyles{ 
    flex-direction: column; 
  }
}