.Login__container{ /* se diseña el contenedor para que se vea de una forma mas organizada y agradable de ver*/
    display: flex;
    background-color:  #F5F5F5;
    height: 440px;
    width: 770px;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 5;
    border-radius: 10px !important;
    font-family: "Outfit";
}
.Login__welcome{ /* se diseña el contenedero de estructura de bienvenida */
    display: block;
    background-color: #F5F5F5;
    overflow: hidden;
    justify-items: flex;
    height: 440px;
    width: 500px;
    font-size: 10px;
    padding: 10px;
    border-radius: 10px ;
}

.img_IUSH{ /*se le da el estilo al logo de la pagina web */
    height: 100%;
    width: 450px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.overlay{ /*diseño para que se vea el fondo medio opaco al darle iniciar sesión */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.1px);
    z-index: 1;
}
.Login_WelcomeInitial{  /* diseño del contenedor de bienvenidos y el texto*/
    margin-top: 40px;
    margin-left: 20px;
    width: 255px;
}
.login_forms{  /* diseñp del formulario con los input*/
    display: flex;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    padding: 10px 20px 0 20px;
}
.input_Credential {  /* le damos el diseño a los input del login*/
    width: 100%;
    height: 37px !important;
    padding: 7px;
    font-size: 15px;
    font-family: "Outfit";
    border: 1px solid #c4baba;
    color: #000;
    border-radius: 5px;
    outline: none;
  }

.login_forms #BtnWelcome{  /* se le hace el diseño al boton ingresar*/
    background-color: #184ea5;
    color: white; 
    border: none;
    padding: 10px 40px;
    font-size: 0.95rem !important;
    border-radius: 8px; 
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height: 36px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_forms #BtnWelcome:hover{ /* Efecto hover para el botón de registro */
    transform: scale(1.02);
    box-shadow: 0 0 10px 0 #000;
  }

.Login_error{  /* estilo que se le da al error cuando no se ponen datos en los inputs y se le da al boton de ingresar */
    font-weight: 500;
    color: red;
    text-align: center;
    font-size: 16px;
}

.Login_Welcometittle{  /*se le da el estilo al bienvenidos del login */
    font-family: 'outfit';
    font-size: 25px;
    font-weight: 650;
    text-align: center;
}

.mss_top{
    font-family: 'manrope';
    font-size: 20px;
    font-weight: 650;
    text-align: left;
}

.Login_not{
    font-family: 'manrope';
    font-size: 16px;
    font-weight: 650;
    text-align: left;
}

#click_register{  /*Al apartado de registrarse se le da un diseño */
    cursor: pointer;
    font-size: 18px;
    display: flex;
    text-align: center;
    color: #184ea5;
    font-weight: 600;
}
.Login__Register{  /* se organiza el contenedor donde esta ubicado el registro */
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    gap: 10px;

}
.custom-toast-container { /* Contenedor de las notificaciones */
    width: 300px;
}
.icons_eyes{  /* tamaño que se le dan a los iconos*/
    font-size: 18px;
    bottom: 100px !important;
}

.container__password{ /* para que los iconos sigan permaneciendo ahi sin importar que la pagina se abra desde un pc o celular*/
    position: relative;
    width: 100%;
}

#ubicacion__icon{  /* ubicacion del icono de ojo*/
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.mss_top{  /* estilo que se le da a la letra para que se vea de una forma mejor */
    font-weight: 450;
    font-size: 12px;
}
.input_Credential::placeholder {
    font-size: 12px; 
    color: gray;
  }

.icon_cap{font-size: 20px;}

.icon_close{
    font-size: 38px !important;
    position: absolute;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.icon_close:hover{
    background-color: gainsboro;
}

@media(max-width:775px){
    .img_IUSH{
        display: none;
    }
    .Login__Register{
        display: flex;
        font-size: 16px;
        text-wrap: nowrap;
    }
    #click_register{
        font-size: 16px;
    }
    .Login_error{
        height: 10px;
    }
    .Login__welcome{ /* se diseña el contenedero de estructura de bienvenida */
        justify-items: center;
    }
    .Login_Welcometittle{  /*se le da el estilo al bienvenidos del login */
        font-size: 40px;
        font-weight: 650;
    }
    .Login__container{ /* se diseña el contenedor para que se vea de una forma mas organizada y agradable de ver*/
        height: 440px;
        width: 50%;
    }
}

@media(max-width:575px){
    .Login__container{ /* se diseña el contenedor para que se vea de una forma mas organizada y agradable de ver*/
        width: 80%
    }
} 
@media(max-width:400px){
    .Login__Register{
        display: flex;
        gap: 8px;
    }
}

