#containerGeneralLogout{
    height: 160px;
    width: 384px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.Logout__title{
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-family: "Outfit";
    color: black;
}

.logout__buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    gap: 20px;
}

.buttons--interactive{
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    height: 42px;
    width: 80px;
    font-size: 15px;
    font-family: "Outfit";
}

#button--acept{
    background-color:#184ea5;
    color: #fff;
}

#button--acept:hover{
    background-color: #003d82;
}

/*media query, para estilos específicos cuando el ancho de la pantalla es de 391px o menor.*/
@media screen and (max-width: 391px) {
    #containerGeneralLogout{width: 92vw;}
}