.containerSidebar{ 
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(#285194,  #0C192E);
    height: 100vh;
    width: 230px;
    transition: width 0.3s ease-in-out, transform 0.4s ease-in-out;
    flex-shrink: 0;
    overflow: hidden;
}

.sidebar__elements{ 
    height: calc(100vh - 70px);
    width: 90%;
    margin-top: 20px;
}

.sidebar__header{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-wrap: nowrap;
}

.sidebar__title{ 
    font-size: 25px;
    font-family: "Outfit";
    font-weight: 800;
    color: #f7f7f7;
    text-wrap: nowrap;
}

#sidebar__iconMenu{ 
    font-size: 30px;
    color: #f7f7f7;
    cursor: pointer;
    flex-shrink: 0;
}

.sidebarMinimized{width: 60px;} 

.sidebar__buttons{ 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100% ;
}

.sidebar--button, .button--opinionNav { 
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 40px;
    padding-left: 12px; 
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    opacity: 0.4;
    text-wrap: nowrap;
}

#sidebar--button__navbarMinized{ 
    justify-content: center;
    padding-left: 0;
    background-color: transparent;
    color: #fff;
}

#sidebar--button__navbarMinized:hover{opacity: 1;} 

.sidebar--button:hover{ 
    opacity: 0.5;
    background-color: #f9f9f9;
    color: #000;
}

.button--opinionNav:hover{ 
    opacity: 1;
    background-color: #f9f9f9;
}

.sidebar__button--active{
    opacity: 1;
    background-color: #f9f9f9;
    color: #000;
}

.sidebar__button--active:hover{opacity: 1;} 

.sidebar__icons{font-size: 20px;} 

.sidebar--button__Text{ 
    font-size: 16px;
    font-weight: 500;
    font-family: "Outfit";
    cursor: pointer;
}

#sidebar--button__opinion{ 
    padding-left: 4px;
    background-color: transparent;
    color: #fff;
}

#sidebar--button__opinion:hover{opacity: 1;} 

#sidebar--button__exit{
    margin-top: auto;  
    justify-content: center;
    padding-left: 4px;
    background-color: transparent;
    color: #fff;
    opacity: 1;
}

#sidebar--button__exit:hover{opacity: 0.5;} 


.custom-tooltip { 
    background-color: #285194 !important; 
    color: white !important; 
    font-size: 12px !important;
    padding: 8px !important;
    border-radius: 8px !important;
    font-family: "Outfit" !important;
    box-shadow: 0 0 5px 0 #0C192E !important;
}

.custom-arrowTooltip {color: #285194 !important; } 

/*media query, para estilos específicos cuando el ancho de la pantalla es de 768px o menor.*/
@media screen and (max-width: 768px) {
    .containerSidebar{ 
        position: relative;
        display: flex;
        justify-content: center;
        background: linear-gradient(#285194,  #0C192E);
        height: 100vh;
        width: 230px;
        transition: width 0.3s ease-in-out, transform 0.4s ease-in-out;
        flex-shrink: 0;
        overflow: hidden;
    }

    .sidebar__elements{ 
        height: calc(100vh - 70px);
        width: 90%;
        margin-top: 20px;
    }

    .sidebar__header{ 
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-wrap: nowrap;

    }

    .sidebar__title{ 
        font-size: 25px;
        font-family: "Outfit";
        font-weight: 800;
        color: #f7f7f7;
        text-wrap: nowrap;
    }

    #sidebar__iconMenu{ 
        font-size: 30px;
        color: #f7f7f7;
        cursor: pointer;
        flex-shrink: 0;
    }

    .sidebarMinimized{width: 60px;} 

    .sidebar__buttons{ 
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        height: 100% ;
    }

    .sidebar--button { 
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        height: 40px;
        padding-left: 12px;
        margin-bottom: 10px;
        border: none;
        border-radius: 8px;
        background-color: transparent;
        color: #fff;
        opacity: 0.4;
        text-wrap: nowrap;
    }

    #sidebar--button__navbarMinized{ 
        justify-content: center;
        padding-left: 4px;
        background-color: transparent;
        color: #fff;
    }
    #sidebar--button__navbarMinized:hover{opacity: 1;} 

    .sidebar--button:hover{ 
        opacity: 0.5;
        background-color: #f9f9f9;
        color: #000;
    }

    .sidebar__button--active{ 
        opacity: 1;
        background-color: #f9f9f9;
        color: #000;
    }

    .sidebar__button--active:hover{opacity: 1;} 

    .sidebar__icons{font-size: 20px;} 

    .sidebar--button__Text{ 
        font-size: 16px;
        font-weight: 500;
        font-family: "Outfit";
        cursor: pointer;
    }

    #sidebar--button__opinion{ 
        margin-top: auto;  
        justify-content: center;
        padding-left: 4px;
        background-color: transparent;
        color: #fff;
    }

    #sidebar--button__opinion:hover{opacity: 1;} 

    .custom-tooltip { 
        background-color: #285194 !important; 
        color: white !important; 
        font-size: 12px !important;
        padding: 8px !important;
        border-radius: 8px !important;
        font-family: "Outfit" !important;
        box-shadow: 0 0 5px 0 #0C192E !important;
    }

    .custom-arrowTooltip {color: #285194 !important; } 

    /*media query, para estilos específicos cuando el ancho de la pantalla es de 768px o menor.*/
    @media screen and (max-width: 768px) {
        .containerSidebar{ 
            margin-top: auto;
            background: linear-gradient(#030507,  #152f5a);
            height: 60px;
            width: 100vw;
        }
        
        .sidebar__header{display: none; } 

        .sidebar__elements { 
            width: 100%;
            margin-top: 12px;
        }

        .sidebar__buttons { 
            flex-direction: row;
            margin: 0;       
        }

        .sidebar--button__Text {display: none; }

        #sidebar--button__opinion{ margin-top: 0;  }
    }
    
    .sidebar--button__Text {display: none; } 

    #sidebar--button__exit{ margin-top: 0;  } 
}
