/*Fuente primaria*/
@font-face {
    font-family: 'Outfit' ;
    src: url('../fonts/Outfit-VariableFont_wght.ttf');
}
/*Fuente secundaria*/
@font-face {
    font-family: 'Manrope' ;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}

:root{ /*Deshabilitamos la opci贸n para seleccionar elementos en la aplicaci贸n*/
    user-select: none;
}

/*Estilos Generales para las ventanas Emergentes*/

.overlayGeneral{ 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(0.1px); 
    z-index: 999; 
}

.containerGeneralOverlay{ 
    position: fixed; 
    display: flex;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) translateY(100%); 
    transition: transform 0.5s ease, opacity 0.5s ease; 
    background: #fff;
    color: #000;
    width: 250px ;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.containerGeneralOverlay.active{ /*Animaci贸n que se genera cuando el contenedor aparece.*/
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
}

.containerGeneralOverlay.hidden{ /*Animaci贸n que se genera cuando el contenedor se oculta.*/
    transform: translate(-50%, -50%) translateY(100%);
    opacity: 0;
}

#button--Cancel{
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;

}

#button--Cancel:hover{
    background-color: #e6e6e6;
}

.loadingComponents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
  font-size: 18px;
  margin-top: 20px;
}