/* Importación de la tipografía general */
/*Fuente primaria*/
@font-face {
    font-family: 'Outfit' ;
    src: url('../fonts/Outfit-VariableFont_wght.ttf');
}
/*Fuente secundaria*/
@font-face {
    font-family: 'Manrope' ;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}